
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Education Details</h2>
          </div>
          
          <div class="row row-cols-1 row-cols-lg-3 g-4">
            <div class="col" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-book"></i></div>
                <h4><a href="">B.E. in Information Technology</a></h4>
                <p>Government Engineering College Gandhinagar, Gujarat <br><strong>CGPA - 7.44</strong></p>
              </div>
            </div>
  
            <div class="col" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-book"></i></div>
                <h4><a href="">H.S.C</a></h4>
                <p>Nalanda Vidhyalaya Morbi, Gujarat <br><strong>Percentage - 82%</strong></p>
              </div>
            </div>
  
            <div class="col" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-book"></i></div>
                <h4><a href="">S.S.C</a></h4>
                <p>S.N. Vidhyalaya Surendranagar, Gujarat <br><strong>Percentage - 80%</strong></p>
              </div>
            </div>  
          </div>

        </div>
      </section><!-- End Services Section -->
  
      <!-- ======= Cta Section ======= -->
      <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">
  
          <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
              <h3>Contact Us</h3>
              <p> Get in touch for collaboration and inquiries.</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="#contact">Contact Us</a>
            </div>
          </div>
  
        </div>
      </section><!-- End Cta Section -->
  