<!-- <section class="section section-lg bg-default">
    <h4 style="text-align: left; margin-bottom:24px; margin-left: 33px;">We Promote</h4>
    <div class="container">
      <div class="owl-carousel owl-style-2 owl-loaded owl-drag" data-items="2" data-sm-items="3" data-md-items="4"
        data-lg-items="5" data-margin="30" data-dots="true" data-autoplay="true" data-mouse-drag="true" style="">
        <div class="owl-stage-outer">
          <div class="owl-stage"
            style="transform: translate3d(-1440px, 0px, 0px); transition: all 0s ease 0s; width: 4080px;">
            <div class="owl-item cloned" style="width: 210px; margin-right: 30px;"><a class="clients-classic"
                href="#"><img src="../../../assets/img/we-promote/make-in-india.webp" alt=""
                  width="200" height="114"></a></div>
            <div class="owl-item cloned" style="width: 210px; margin-right: 30px;"><a class="clients-classic"
                href="#"><img src="../../../assets/img/we-promote/make-in-india.webp"
                  alt="" width="200" height="114"></a></div>
            <div class="owl-item cloned" style="width: 210px; margin-right: 30px;"><a class="clients-classic"
                href="#"><img src="../../../assets/img/we-promote/skill-india-logo.webp"
                  alt="" width="200" height="114"></a></div>
            <div class="owl-item cloned" style="width: 210px; margin-right: 30px;"><a class="clients-classic"
                href="#"><img
                  src="../../../assets/img/we-promote/Digital_India_logo.webp" alt=""
                  width="200" height="114"></a></div>
            <div class="owl-item cloned" style="width: 210px; margin-right: 30px;"><a class="clients-classic"
                href="#"><img
                  src="../../../assets/img/we-promote/startupindia-scaled-2.webp" alt=""
                  width="200" height="114"></a></div>
            <div class="owl-item" style="width: 210px; margin-right: 30px;"><a class="clients-classic" href="#"><img
                  src="../../../assets/img/we-promote/apeda.webp" alt="" width="200"
                  height="114"></a></div>
            <div class="owl-item active" style="width: 210px; margin-right: 30px;"><a class="clients-classic"
                href="#"><img src="../../../assets/img/we-promote/msme.webp" alt=""
                  width="200" height="114"></a></div>
            <div class="owl-item active" style="width: 210px; margin-right: 30px;"><a class="clients-classic"
                href="#"><img src="../../../assets/img/we-promote/dgft.webp" alt=""
                  width="200" height="114"></a></div>
            <div class="owl-item active" style="width: 210px; margin-right: 30px;"><a class="clients-classic"
                href="#"><img src="../../../assets/img/we-promote/make-in-india.webp"
                  alt="" width="200" height="114"></a></div>
            <div class="owl-item active" style="width: 210px; margin-right: 30px;"><a class="clients-classic"
                href="#"><img src="../../../assets/img/we-promote/skill-india-logo.webp"
                  alt="" width="200" height="114"></a></div>
            <div class="owl-item active" style="width: 210px; margin-right: 30px;"><a class="clients-classic"
                href="#"><img
                  src="../../../assets/img/we-promote/Digital_India_logo.webp" alt=""
                  width="200" height="114"></a></div>
            <div class="owl-item" style="width: 210px; margin-right: 30px;"><a class="clients-classic" href="#"><img
                  src="../../../assets/img/we-promote/startupindia-scaled-2.webp" alt=""
                  width="200" height="114"></a></div>
            <div class="owl-item cloned" style="width: 210px; margin-right: 30px;"><a class="clients-classic"
                href="#"><img src="../../../assets/img/we-promote/apeda.webp" alt=""
                  width="200" height="114"></a></div>
            <div class="owl-item cloned" style="width: 210px; margin-right: 30px;"><a class="clients-classic"
                href="#"><img src="../../../assets/img/we-promote/msme.webp" alt=""
                  width="200" height="114"></a></div>
            <div class="owl-item cloned" style="width: 210px; margin-right: 30px;"><a class="clients-classic"
                href="#"><img src="../../../assets/img/we-promote/dgft.webp" alt=""
                  width="200" height="114"></a></div>
            <div class="owl-item cloned" style="width: 210px; margin-right: 30px;"><a class="clients-classic"
                href="#"><img src="../../../assets/img/we-promote/make-in-india.webp"
                  alt="" width="200" height="114"></a></div>
            <div class="owl-item cloned" style="width: 210px; margin-right: 30px;"><a class="clients-classic"
                href="#"><img src="../../../assets/img/we-promote/skill-india-logo.webp"
                  alt="" width="200" height="114"></a></div>
          </div>
        </div>
        <div class="owl-nav disabled">
          <div class="owl-prev"></div>
          <div class="owl-next"></div>
        </div>
        <div class="owl-dots">
          <div class="owl-dot active"><span></span></div>
          <div class="owl-dot"><span></span></div>
        </div>
      </div>
    </div>
  </section> -->
<div class="we-promote-slider">
    <div class="section-title">
        <h2>We Promote</h2>
    </div>

    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="../../../assets/img/we-promote/apeda.webp" alt="" />
            </div>
            <div class="slide">
                <img src="../../../assets/img/we-promote/dgft.webp" alt="" />
            </div>
            <div class="slide">
                <img src="../../../assets/img/we-promote/Digital_India_logo.webp" alt="" />
            </div>
            <div class="slide">
                <img src="../../../assets/img/we-promote/make-in-india.webp" alt="" />
            </div>
            <div class="slide">
                <img src="../../../assets/img/we-promote/msme.webp" alt="" />
            </div>
            <div class="slide">
                <img src="../../../assets/img/we-promote/skill-india-logo.webp" alt="" />
            </div>
            <div class="slide">
                <img id="startup-india" src="../../../assets/img/we-promote/startupindia-scaled-2.webp" alt="" />
            </div>
            <div class="slide">
                <img src="../../../assets/img/we-promote/apeda.webp" alt="" />
            </div>
            <div class="slide">
                <img src="../../../assets/img/we-promote/dgft.webp" alt="" />
            </div>
            <div class="slide">
                <img src="../../../assets/img/we-promote/Digital_India_logo.webp" alt="" />
            </div>
            <div class="slide">
                <img src="../../../assets/img/we-promote/make-in-india.webp" alt="" />
            </div>
            <div class="slide">
                <img src="../../../assets/img/we-promote/msme.webp" alt="" />
            </div>
            <div class="slide">
                <img src="../../../assets/img/we-promote/skill-india-logo.webp" alt="" />
            </div>
            <div class="slide">
                <img id="startup-india" src="../../../assets/img/we-promote/startupindia-scaled-2.webp" alt="" />
            </div>
        </div>
    </div>
</div>