
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Contact</h2>
    </div>

        <div class="info row">
          <div class="col-12 col-lg-6">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>
                Vasukanan Tower, near Umiya Hall, Ghatlodiya, Nirnay Nagar, Ahmedabad -380061, Gujarat.
              </p>
            </div>
            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p><a href="mailto:patidarjainesh12345@gmail.com">patidarjainesh12345@gmail.com</a></p>
            </div>
            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p><a href="tel:919016595199">+91 9016595199</a></p>
            </div>
          </div>

          <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d236295.74747302433!2d70.65648016237179!3d22.27340380408979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959c98ac71cdf0f%3A0x76dd15cfbe93ad3b!2sRajkot%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1694896808212!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
          <div class="col-12 col-lg-6">
            <iframe
            class="map-location"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d578.0914115914131!2d72.55706332011222!3d23.0732327211894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e83962734c79d%3A0xa076cd4d5cc5e95b!2sVasukanan%20flat!5e0!3m2!1sen!2sin!4v1701441203754!5m2!1sen!2sin"
            height="380"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
    
          </div>
        </div>
       

      <!-- <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit()"
          class="php-email-form"
        >
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Your Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="full_name"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="email">Your Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="subject">Subject</label>
            <input
              type="text"
              class="form-control"
              id="subject"
              formControlName="subject"
            />
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea
              class="form-control"
              rows="10"
              id="message"
              formControlName="message"
            ></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message" *ngIf="isSubmissionSuccessful">
              Your message has been sent. Thank you!
            </div>
          </div>
          <div class="text-center">
            <button type="submit" [disabled]="!contactForm.valid">
              {{ buttonMessage }}
            </button>
          </div>
        </form>
      </div> -->
    </div>
</section>
<!-- End Contact Section -->
