<section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">

      <div class="row">

        <div class="section-title">
            <h2>Certification</h2>
          </div>
        <div class="col-lg-8 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content">
            <h3 class="why-megallp mb-5">Why Megansh Food?</h3>
          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>Mission</span> <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                  <p>
                    Our quest is to become the most admired group by all our Importers, Team Members and Customers. We pursue world- class standards for our Products and Manufacturing Processes. We are impeccable in our purchasing our raw material for the manufacturing of end product. We work in absolute ethical, legal and fair business standards. We work to satisfy our clients with superior quality and high trust.
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span> Vision</span><i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>With a strong commitment to quality and customer satisfaction, our vision encompasses the following:</p>
                  <p>
To be the premier Exporting Company for the Industrial, Disposable and Beauty and Wellness industries Products by 2023. To spread across 50 countries across the globe in exporting high quality of products we dealin. To be a globally known Company for Drum Locking System and Disposable product. MIPL anchors its vision to offer the best quality with trust.
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span> Values</span> <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                  <p>Our Values guide our behaviors day-to-day, informing how we act, the decisions we make, and how we work with each other, our clients, companies that we audit, and all our stakeholders. Our values are:
                  </p>
                  <p>Integrity: We do what is right.</p>
                  <p>Excellence: We never stop learning and improving.</p>
                  <p>Courage: We think and act boldly.</p>
                  <p>Together: We respect each other and draw strength from our differences.</p>
                  <p>For Better: We do what matters.</p>


                </div>
              </li>

            </ul>
          </div>

        </div>
        <div class="col-lg-4">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
    
                <div class="swiper-slide">
                  <img src="../../../assets/img/certificate/ABYFM3745K_page-0001.jpg" class="certificate-image" alt="">
                </div>
    
                <div class="swiper-slide">
                  <img src="../../../assets/img/certificate/AA2409230490790_RC26092023_page-0001.jpg"class="certificate-image" alt="">
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
      </div>
   

    </div>
  </section>