<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 footer-contact">
          <h4>personal Details</h4>
          <p>
            <strong>Address :</strong>  Near swaminarayan Temple, Bhechada, Dhrangadhra, Surendranagar -363310, Gujarat , india.<br><br>
            <strong>Phone :</strong><a href="tel:919016595199">+91 9016595199</a><br>
            <strong>Email :</strong><a href="mailto:patidarjainesh12345@gmail.com">patidarjainesh12345@gmail.com</a><br>
          </p>
        </div>

        <div class="col-md-6 footer-links">
          <h4>Useful Links</h4>
          <div class="row row-cols-1 row-cols-lg-2 row-gap-2">
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">Projects</a></li>
            </ul>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Education</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>JP's Portfolio</span></strong>. All Rights Reserved
    </div>
  </div>

</footer>