<div class="app-splash-screen"  *ngIf="showSplash">

    <div class="loader-overlay" *ngIf="showLoader">
        <div class="loader">
            <div class="app-splash-inner">
                <div class="app-logo"></div>
                <div class="app-loader"></div>
            </div>
            <div class="d-flex justify-content-center align-items-center h-100 w-100">
                <img class="app-splash-screen" src="../../../../assets/img/cta-bg.png" alt="please wait"/>
            </div>
        </div>
    </div>
</div>