

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

          <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
              <h3>Contact Us</h3>
              <p>Megansh Food LLP is Export- Import Service Provider Company.which is Dealing in Agriculture Products Like Pulses, Oil Seeds, Fruits, Vegitable,Spices.
                We are Also Available in UAE</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="#contact">Contact Us</a>
            </div>
          </div>

        </div>
      </section><!-- End Cta Section -->

      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Portfolio</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
          </div>

          <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <!-- <li data-filter=".filter-oil-seeds">Oil Seeds</li>
            <li data-filter=".filter-spices">Spices</li>
            <li data-filter=".filter-pulses">Pulses</li>
            <li data-filter=".filter-cereals">Cereals</li>
            <li data-filter=".filter-vegetable">Vegetable</li> -->
            <li data-filter=".filter-animal-feed">Animal Feed</li>
          </ul>
        <div *ngIf="jsonData">
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-4 col-md-6 portfolio-item filter-oil-seeds">
              <div class="portfolio-img"><img [src]="jsonData[0]?.imageURL" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                <h4>{{jsonData[0].name}}</h4>
                <p>{{ jsonData[0].description }}</p>

                <a routerLink="/product/1" class="details-link" title="More Details" (click)="getid(jsonData[0].id)"><i class="bx bx-link"></i></a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-pulses">
              <div class="portfolio-img"><img [src]="jsonData[1].imageURL" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                <h4>{{jsonData[1].name}}</h4>
                <p>{{ jsonData[1].description }}</p>
                <!-- <a href="jsonData[0].imageURL" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a> -->
                <a routerLink="/product/2" class="details-link" title="More Details" (click)="getid(jsonData[1].id)"><i class="bx bx-link"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-oil-seeds">
              <div class="portfolio-img"><img [src]="jsonData[2].imageURL" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                <h4>{{jsonData[2].name}}</h4>
                <p>{{ jsonData[2].description }}</p>
                <!-- <a href="jsonData[0].imageURL" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a> -->
                <a routerLink="/product/3" class="details-link" title="More Details" (click)="getid(jsonData[2].id)"><i class="bx bx-link"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-spices">
              <div class="portfolio-img"><img [src]="jsonData[3].imageURL" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                <h4>{{jsonData[3].name}}</h4>
                <p>{{ jsonData[3].description }}</p>
                <!-- <a href="jsonData[0].imageURL" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a> -->
                <a routerLink="/product/4" class="details-link" title="More Details" (click)="getid(jsonData[3].id)"><i class="bx bx-link"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-pulses">
              <div class="portfolio-img"><img [src]="jsonData[4].imageURL" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                <h4>{{jsonData[4].name}}</h4>
                <p>{{ jsonData[4].description }}</p>
                <!-- <a href="jsonData[0].imageURL" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a> -->
                <a routerLink="/product/5" class="details-link" title="More Details" (click)="getid(jsonData[4].id)"><i class="bx bx-link"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-oil-seeds">
              <div class="portfolio-img"><img [src]="jsonData[5].imageURL" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                <h4>{{jsonData[5].name}}</h4>
                <p>{{ jsonData[5].description }}</p>
                <!-- <a href="jsonData[0].imageURL" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a> -->
                <a routerLink="/product/6" class="details-link" title="More Details" (click)="getid(jsonData[5].id)"><i class="bx bx-link"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-spices">
              <div class="portfolio-img"><img [src]="jsonData[6].imageURL" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                <h4>{{jsonData[6].name}}</h4>
                <p>{{ jsonData[6].description }}</p>
                <!-- <a href="jsonData[0].imageURL" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a> -->
                <a routerLink="/product/7" class="details-link" title="More Details" (click)="getid(jsonData[6].id)"><i class="bx bx-link"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-spices">
              <div class="portfolio-img"><img [src]="jsonData[7].imageURL" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                <h4>{{jsonData[7].name}}</h4>
                <p>{{ jsonData[7].description }}</p>
                <!-- <a href="jsonData[0].imageURL" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a> -->
                <a routerLink="/product/8" class="details-link" title="More Details" (click)="getid(jsonData[7].id)"><i class="bx bx-link"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-cereals">
              <div class="portfolio-img"><img [src]="jsonData[8].imageURL" class="img-fluid" alt=""></div>
              <div class="portfolio-info">
                <h4>{{jsonData[8].name}}</h4>
                <p>{{ jsonData[8].description }}</p>
                <!-- <a href="jsonData[0].imageURL" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a> -->
                <a routerLink="/product/9" class="details-link" title="More Details" (click)="getid(jsonData[8].id)"><i class="bx bx-link"></i></a>
              </div>
            </div>


          </div>
        </div>
      </div>
      </section><!-- End Portfolio Section -->
